<!-- --> 
<launch>

	<node name="optitrack" pkg="sim_optitrack" type="sim_optitrack_node" output="screen">
			<rosparam>rigid_bodies_name:  [quadrotor]</rosparam>
	</node>

	<node name="drone_target_points" pkg="send_control_position" type="send_control_position_node" output="screen">
		<remap from="control_data_message"  to="/drone_target_points"/>
		<param name="new_yaw" value="0.0"/>
		<param name="new_altitude" value="1.0"/>
		<rosparam>new_position:  [0.0, 0.0]</rosparam>  <!-- [X, Y] -->
	</node>

	<node name="drone_control_node" pkg="drone_control_position" type="sim_control_drone_position_node" output="screen">
		<remap from="drone_info_topic"  to="/optitrack/rigid_bodies"/>
		<remap from="control_info"  to="/drone_target_points"/>
		<rosparam>Kd:  [0.5, 0.5]</rosparam>  <!-- [pitch, roll] -->
		<rosparam>Kp:  [0.5, 0.5, 0.25, 0.05]</rosparam>  <!-- [pitch, roll, altitude, yaw] -->
		<rosparam>velocity_limit:  [1.0, 1.0, 1.0, 1.0]</rosparam>  <!-- [pitch, roll, altitude, yaw] -->
		<rosparam>delta_pose:  [0.0, 0.0, 0.0, 0.0]</rosparam>  <!-- [x,y,z,yaw (degrees)] -->
		<rosparam>virtual_fence:  [10.0, -10.0, 10.0, -10.0, 2.5]</rosparam>  <!-- [maxX, minX, maxY, minY, maxAltitude] -->
	</node>

</launch>
